<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- AWS Cognito Identity Settings -->
    <add key="AWSProfileName" value="AWS Default" />
    <add key="AWSRegion" value="eu-west-1" />
    <add key="CLIENT_ID" value="6j6l6nn4tn2mvlvlmj64d8ctr4" />
    <add key="USERPOOL_ID" value="eu-west-1_5qNYuSIzv" />
    <add key="IDENITYPOOL_ID" value="eu-west-1:2cc6d3de-d08b-4fb5-b14a-260744fe549a" />
    <add key="IDENITY_PROVIDER" value="cognito-idp.eu-west-1.amazonaws.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tesseract" publicKeyToken="ebeb3d86bef60cbe" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
